/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

nav .nav-wrapper{
  background: #343638;
}

footer.page-footer {
  background: #343638;
}

.template {
  background-color: #A1FAF2;
}